@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.btn-primary{
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .espace-superieur {
    margin-top: 250px; /* Ajustez la valeur selon vos besoins */
  }
 