$primary: #0c4691;
$secondary: #B6AC97;
$dark: #346812;
$black: #242922;
$white: #F4F4F4;
$brown: #1a9320;
$green: #179933;

$font-family-sans-serif: "Montserrat", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";