@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 50%;
}
main {
    margin-bottom: 215px;
}
footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero-scene {
    position: relative;
    margin-bottom: 200px;
}
.hero-scene::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 33.33%;
    background-image: url(../img/tigre5.jpg);
    background-size: cover;
    filter: brightness(0.3);
}
.hero-scene * {
    position: relative;
}

.hero-scene .hero-scene-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.image-card {
    position: relative;
}
.image-card img {
    transition: all 0.3s;
}
.image-card .titre-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-scene,
article {
    margin-bottom: 0;
}