$primary:  #4e9c4e;
$secondary: #B6AC97;
$dark:#346812;
$black: #292222;
$white: #F4F4F4;
$brown: #93681a;
$green: #0e5c1f;

$font-family-sans-serif: "Montserrat", sans-serif !default;

@import "../../node_modules/bootstrap/scss/bootstrap";